<header class="usa-header usa-header--extended" role="banner">


  
  <div class="usa-navbar">
    <div class="usa-logo" id="header-logo">
      <a
        href="/us18fwds/"
        title="Home">
        
          <img
            class="usa-logo-img"
            src="https://18f.gsa.gov/assets/img/logos/18f-logo.svg"
            alt="18F">
        
        <em class="usa-logo__text">
          This is the site title
        </em>
      </a>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>

  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="/us18fwds/assets/uswds/img/close.svg" alt="close">
      </button>

      
      
      
      <ul class="usa-nav__primary usa-accordion">
        
        <li class="usa-nav__primary-item">
          
            <a class=" usa-nav__link  " href="/us18fwds/docs/">
              <span>Documentation</span>
            </a>
          
        </li>
        
        <li class="usa-nav__primary-item">
          
            
            
            
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="nav-2">
            <span>Navigation section</span>
          </button>
          
          <ul id="nav-2" class="usa-nav__submenu">
          
          
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/two/a/">Demo link A</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/two/b/">Demo link B</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/two/c/">Demo link C</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/two/a/">Demo link D</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/two/b/">Demo link E</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/two/c/">Demo link F</a>
              </li>
              
            
          
          </ul>
          
          
          
        </li>
        
        <li class="usa-nav__primary-item">
          
            
            
            
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="nav-3">
            <span>Referenced section</span>
          </button>
          
          <ul id="nav-3" class="usa-nav__submenu">
          
          
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/docs/">Documentation</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/docs/">Navigation section</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/docs/">External links</a>
              </li>
              
            
              
              <li class="usa-nav__submenu-item">
                <a href="/us18fwds/docs/">Privacy policy</a>
              </li>
              
            
          
          </ul>
          
          
          
        </li>
        
        <li class="usa-nav__primary-item">
          
            <a class=" usa-nav__link  " href="https://18f.gsa.gov">
              <span>External link</span>
            </a>
          
        </li>
        
      </ul>
      

      

      
        
        <div class="usa-nav__secondary">
          <ul class="usa-unstyled-list usa-nav__secondary-links">
            
            
              <li class="usa-nav__secondary-item">
                <a href="/us18fwds/docs/"
                >
                  Documentation
                </a>
              </li>
            
              <li class="usa-nav__secondary-item">
                <a href="/us18fwds/theme/"
                >
                  Theme
                </a>
              </li>
            
          </ul>
          
        </div>
        


      </div>
    </div>
  </nav>

</header>